.checkout-layout {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 1024px) {
    .checkout-layout {
        grid-template-columns: 2fr 1fr;
    }
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* FORM */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-size: 0.9rem;
    color: var(--text-muted);
    margin-bottom: 0.3rem;
}

input {
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #334155;
    background: var(--bg-primary);
    color: var(--text-light);
}

input:focus {
    outline: none;
    border-color: var(--accent);
}

.form-row {
    display: flex;
    gap: 1rem;
}

/* PAYMENT OPTIONS */

.payment-options {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.payment-card {
    flex: 1;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    background: var(--bg-primary);
    border: 1px solid #334155;
    cursor: pointer;
    transition: 0.3s;
}

.payment-card:hover {
    border-color: var(--accent);
}

.payment-card.active {
    border: 2px solid var(--accent);
}

/* SUMMARY */

.checkout-summary {
    height: fit-content;
}

.summary-item,
.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
}

.summary-total {
    font-weight: bold;
    font-size: 1.2rem;
}

.full-width {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}
