.titulo-seccion {
    margin-top: 50px;
    font-size: 24px;
    border-bottom: 2px solid #38bdf8;
    display: inline-block;
    padding-bottom: 5px;
}

.contenedor-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contenedor-seccion .tarjeta {
    background: #1f2937;
    padding: 25px;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

.contenedor-seccion .tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #38bdf8;
}
