body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    padding: 15px 40px;
}

.navbar h2 {
    margin: 0;
}

.menu-derecha {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    color: #38bdf8;
}

.avatar-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #38bdf8;
    transition: 0.3s;
}

.avatar-menu:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #38bdf8;
}

.contenido {
    padding: 40px;
    text-align: center;
}

.tarjeta {
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    margin: 20px;
    display: inline-block;
}

.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

