.menu-derecha {
    display: flex;
    align-items: center;
}

.avatar-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #38bdf8;
    transition: 0.3s;
}

.avatar-menu:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #38bdf8;
}
