body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
}

header {
    padding: 20px;
}

#buscador {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}

.tarjeta {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.tarjeta img {
    width: 100%;
    border-radius: 10px;
}

.tarjeta a {
    display: inline-block;
    margin-top: 10px;
    color: #38bdf8;
    text-decoration: none;
}

/* SOLAR FLARE ANIMACIÓN */
.solar-imagenes {
    position: relative;
    width: 100%;
    height: 200px;
}

.solar-imagenes img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 9s infinite;
}

.img1 { animation-delay: 0s; }
.img2 { animation-delay: 3s; }
.img3 { animation-delay: 6s; }

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}
