.avatar-actual {
    margin: 20px 0;
}

.avatar-actual img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    object-fit: cover;
}

.grid-avatares {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 15px;
    justify-content: center;
    margin: 30px 0;
}

.grid-avatares img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
    object-fit: cover;
    transition: 0.3s;
}

.grid-avatares img:hover {
    transform: scale(1.1);
    border: 3px solid #38bdf8;
}

.espacio-vacio {
    width: 100px;
    height: 100px;
}
