body {
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    text-align:center;
    font-family:Arial;
}

.vinilo {
    width:300px;
    height:300px;
    margin:40px auto;
    border-radius:50%;
    background:radial-gradient(circle,#111 40%,#000 70%);
    position:relative;
    animation:girar 10s linear infinite;
}

.portada {
    width:160px;
    height:160px;
    border-radius:50%;
    overflow:hidden;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.portada img {
    width:100%;
    height:100%;
    object-fit:cover;
}

@keyframes girar {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
